<!DOCTYPE html>
<html ng-app="userProfiles">
<head>
    <meta charset="utf-8">
    <title>mini-userProfiles</title>
    <link rel="stylesheet" href="styles.css"></link>
</head>

<body ng-controller="MainController">
    
    <!--{{thisAppIsBroken}}-->

<!--ng-class uses what's inside the curly braces to evaluate the
class. If what is on the right is true, then what is on the left
gets added as a class. Down below, we have a button that runs a 
function. the function toggles if 'isFavorite' is true or not,
effectively turning on and of this class 'favorite'.-->
    <div ng-repeat="user in users" ng-class="{favorite: user.isFavorite}">
        <img ng-src="{{user.avatar}}"></img>
        <span>{{user.first_name}}</span>
        <span>{{user.last_name}}</span>
        <button ng-click="toggleFavorite(user.id)">+</button>
    </div>


    
    
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
     <script src="app.js"></script>
     <script src="controller.js"></script>
     <script src="mainService.js"></script>
</body>
</html>