.favorite {
    background-color: lightblue
}

.userList{
    width: 200px;
    height: 25px;
    border: 1px solid black;
    padding: 3px 0px 0 15px;
    position: relative;
}

.userList button{
    position: absolute;
    right: 2px;
}





